* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.task-board {
    background-color: rgb(42, 43, 42);
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
    

}
.card {
    background-color: rgb(215, 227, 238);
    width: 30%;
    height: 400px;
    /*margin: 20px;*/
    border-radius: 5px;
    padding: 10px;

}

.add-task-btn {
    
    /*background-color: red;*/

}

.add-task-btn button {
    background-color: rgb(110, 110, 235);
    color: white;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.add-task-btn button:hover {
    background-color: rgb(142, 142, 226);
}

li {
    background-color: white;
    margin-bottom: 5px;
}

ul {
    /*background-color: yellow;*/
    list-style: none;
}

select {
    display: none;
}

.pop-up {
    /*width: 100px;*/
    width: 10%;
    background-color: rgb(34, 33, 33);
    color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    display: none;
    /*display: block;*/
}

#test-btn {
    background-color: green;
    margin: 0 auto;
    /*display: block;*/
    display: none;
    outline: none;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    width: 10%;
    font-size: 17px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;

}

