* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.task-board {
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
    

}
.card {
    background-color: aliceblue;
    width: 30%;
    height: 400px;
    /*margin: 20px;*/
    border-radius: 5px;
    padding: 10px;

}

.add-task-btn {
    
    background-color: red;
}

li {
    background-color: pink;
}

ul {
    background-color: yellow;
    list-style: none;
}

select {
    display: none;
}

.pop-up {
    width: 100px;
    background-color: rgb(34, 33, 33);
    color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    display: none;
}

